@import './normalize.css';
@import './fonts';

body {
	padding: 0;
	margin: 0;
	background-color: #000000;
	color: #ffffff;
}

h1 {
	font-family: 'PressStart2P', sans-serif;
}

p {
	font-size: 0.875rem;
}

.inner-body {

}

.header-row {

}

.key {
	display: inline-block;
	padding: 0.125rem 0.375rem;
	border: 1px solid #ccc;
	background-color: #eee;
	border-radius: 3px;
	font-family: monospace;
	line-height: 1;
}

.loading {
	text-align: center;
}